aws_region     = "eu-west-1"
project        = "gitflow-analyzer"
env            = "dev"
aws_account_id = "YOUR_ACCOUNT_ID_HERE"
github_username = "YOUR_GITHUB_USERNAME_HERE"
ecr_registry    = "YOUR_ACCOUNT_ID.dkr.ecr.YOUR_REGION.amazonaws.com"
ecr_repo        = "YOUR_ACCOUNT_ID.dkr.ecr.YOUR_REGION.amazonaws.com/gitflow-analyzer/analyzer"
grafana_admin_password = "YOUR_GRAFANA_PASSWORD_HERE"
